<div class="container">
  <div class="ui-g">
    <h1>Pessoas</h1>
  </div>

  <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text">
  </div>

  <div class="ui-g-12">
    <button pButton pTooltip="Pesquisa uma pessoa" tooltipPosition="right" label="Pesquisar"></button>
  </div>

  <div>
    <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid>
  </div>

  <div class="ui-g-12">
    <button pButton pTooltip="Criar uma nova pessoa" tooltipPosition="right" label="Nova Pessoa"></button>
  </div>
</div>