<div class="container">
  <div class="ui-g">
    <h1>Pessoas</h1>
  </div>

  <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text">
  </div>

  <div class="ui-g-12">
    <button pButton pTooltip="Pesquisa uma pessoa" tooltipPosition="right" label="Pesquisar"></button>
  </div>

  <div>
    <p-dataTable [value]="pessoas" emptyMessage="Nenhuma pessoa encontrada"
      [paginator]="true" [rows]="5" [responsive]="true">
      <p-column field="nome" header="Nome"></p-column>
      <p-column field="cidade" header="Cidade"></p-column>
      <p-column field="estado" header="Estado"></p-column>
      <p-column field="ativo" header="Status">
        <ng-template pTemplate="body" let-pes="rowData">
          <a href="javascript:;" [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'" tooltipPosition="top">
            {{ pes.ativo ? 'Ativo' : 'Inativo' }}
          </a>
        </ng-template>
      </p-column>
      <p-column header="Ações" styleClass="col-acoes">
        <ng-template pTemplate="body">
          <a pButton pTooltip="Editar" tooltipPosition="top" icon="fa fa-pencil"></a>
          <button pButton pTooltip="Excluir" tooltipPosition="top" icon="fa fa-trash"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <div class="ui-g-12">
    <button pButton pTooltip="Criar uma nova pessoa" tooltipPosition="right" label="Nova Pessoa"></button>
  </div>
</div>